/* STEP 1: Load Google Font */
@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@50;100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@100;200;300;400;500;600;700&display=swap');

@import "tailwindcss";

@layer theme {
  @theme {
   
    --font-island: "Island Moments", cursive;
    --font-halant: "Halant, serif";
    --font-instrument: "Instrument Sans, sans-serif";

  
    --font-sans: "Inter", ui-sans-serif, system-ui;
  }
}


html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/GrainBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: var(--font-sans);
  color: var(--color-charcoal);
}
